<h2 mat-dialog-title>Verification</h2>

<mat-dialog-content>
  <p>To pass Level 4, please enter nz-technician credentials:</p>

  <mat-form-field appearance="fill" style="width: 80%;">
    <mat-label>NetID technician</mat-label>
    <input matInput [(ngModel)]="enteredNz" type="text" autocomplete="off">
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 80%;">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="enteredPwd" type="password" autocomplete="off">
  </mat-form-field>

  <p *ngIf="isInvalid" style="color: red;">
    The code you entered is incorrect. Please try again.
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="verifyCode()">Verify</button>
</mat-dialog-actions>
