
.mat-dialog-container {
    border-radius: 20px; 
    background-color: black; 
    color: white;
  }
  
  .mat-dialog-actions button {
    color: white; 
    background-color: black; 
    border: none; 
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 5px;
  }
  
  .mat-dialog-actions button:hover {
    background-color: #333;
  }