<div class="profile-container">
  
  <div class="level-grid">
    <h4 style="text-align: center;margin-bottom: 50px;"> Search for your archived member by </h4>

    <h4 style="text-align: center;margin-bottom: 50px;">

      <input class="input1" style="width: 20%;" type="text" placeholder="StationID" (input)="onStationInputChange($event)">
      OR
      <input class="input1" style="width: 20%;" type="text" placeholder="Name" (input)="onNameInputChange($event)">

      
  
    
    </h4>
    <div class="scrollable-container">
      <div class="level-grid-container">
        <div *ngFor="let member of leader.TeamMembers">
          <div *ngIf="member.StationName.includes(InputedStationID) && member.Name.includes(InputedName)">
            <div class="level-grid-item">
              <a routerLink="/application/user-profile/{{ member.Matricule }}">
                <span style="font-size: 42px; font-weight: 400; margin-left: 10px;">
                  {{ member.Name }}
                </span>
                <span style="font-weight: 600;"> IN {{ member.StationName }}</span>
              </a>
              <img src="./assets/level{{ member.currentLevel }}.png" style="border: 2px solid white; border-radius: 7px; height: 40px; margin-bottom: 1.5%; margin-left: 1%; float: right;">
              
              <table style="width: 100%;">
                <td *ngFor="let level of member.completedLevels">
                  <tr>
                    <div class="progress">
                      <div class="progress-value" style="--loading-bar-width: {{ level.score }}%"></div>
                    </div>
                  </tr>
                </td>
              </table>
  
              <p style="margin: 1%;">Details: {{ member.Project }}</p>
  
              
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</div>