<mat-toolbar class="toolbar" style="margin-bottom: 5%;">
  <button style="margin-left: 100px;" mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
</button>
    <span class="app-name" style="margin-left: 15%;">{{ componentName }}</span>
    
    <span class="spacer"></span>
    

    <button mat-icon-button (click)="logOut()">
        <mat-icon>logout</mat-icon>
    </button>

</mat-toolbar>

<div style="text-align: center; font-weight: 900;">
    <p *ngIf="searchError" style="color: red;">{{ searchError }}</p>
</div>
