.app-name{
    padding: 20px 10px 20px 10px;
    background-color: #FF0000;
    height: max-content;
    border-radius:0px 0px 20px 20px;

}

.spacer {
    flex: 1 1 auto;
  }

.toolbar{
    background-color: #252525;
    color: #e4e4e4;
}
